@font-face {
    font-family: ITC_AVANT;
    src: url(../public/assets/fonts/itc-avant/ITCAvantGardeStdBk.otf);
}
@font-face {
    font-family: ITC_AVANT_BOLD;
    src: url(../public/assets/fonts/itc-avant/ITCAvantGardeStdBold.otf);
}
@font-face {
    font-family: ITC_AVANT_GOTHIC;
    src: url(../public/assets/fonts/itc-avant/ITCAvantGardeStdBoldCn.otf);
}
@font-face {
    font-family: ITC_AVANT_DEMI;
    src: url(../public/assets/fonts/itc-avant/ITCAvantGardeStdDemi.otf);
}
