@tailwind base;
@tailwind components;
@tailwind utilities;
@import '_variables';

html, body {
  padding: 0;
  margin: 0;
  font-family: $font;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input {
  margin-bottom: 20px;
  min-height: 40px;
}

button {
  font-family: $fontDemi;
  @media (max-width: 800px) {
    font-size: 0.9rem;
  }
  @media (max-width: 500px) {
    font-size: 0.85rem;
  }
  @media (max-width: 400px) {
    font-size: 0.8rem;
  }
}

label.form__label {
  color: #FFF;
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: bold;
  font-family: $fontDemi;
  @media (max-width: 800px) {
    font-size: 0.9rem;
  }
  @media (max-width: 500px) {
    font-size: 0.85rem;
  }
  @media (max-width: 400px) {
    font-size: 0.8rem;
  }
}

.sidebar  {
  width: 18vw;
  background-color: #000000;
  position: absolute;
  top: 0;
  bottom: 0;

  ul {
    padding: 20px;
    margin-top: 40px;
    li {
      list-style: none;
      color: $textLightColor;
      margin-bottom: 20px;
      font-family: $textFont;
      font-size: 1rem;
      width: 100%;
      a {
        padding: 5px 15px;
        display: block;
      }
      a:hover {
        background: $primaryButton;
        width: 100%;
      }
    }
  }
}

.topbar {
  height: calc(5.5vh) ;
  width: 82vw;
  margin-left: 18vw;
  border-bottom: 0.7px solid #c3c3c3;
  position: fixed;
  top: 0;
  display: flex;
  padding: 8px 25px;
  .right {
    margin-left: auto;
    p {
      font-size: $textSizeSm;
      padding: 0px;
      margin: 0px;
      font-family: $fontDemi;
      cursor: pointer;
    }
  }
}

.bodywrap {
  margin-top: 5.5vh;
  width: 82vw;
  margin-left: 18vw;
  background: $textLightColor;
  min-height: calc(94.5vh - 15px);
  padding: 20px 25px;

  .greeting {
    font-size: $textSizeSm;
    font-family: $font;
  }
}

.formErrors {
  color: $textLightError;
  font-size: $textSizeXs;
  margin-bottom: 15px;
  margin-top: -10px;
}

.form_btm_link {
  color: $textLightColor;
  font-size: $textSizeXs;
  margin-top: 15px;
  text-align: center;
  font-family: $fontDemi;
  @media (max-width: 800px) {
    font-size: 0.9rem;
  }
  @media (max-width: 500px) {
    font-size: 0.85rem;
  }
  @media (max-width: 400px) {
    font-size: 0.8rem;
  }
}