@tailwind base;
@tailwind components;
@tailwind utilities;
@import '_variables';

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input {
  margin-bottom: 20px;
  min-height: 40px;
}

button {
  font-family: $fontDemi;
  @media (max-width: 800px) {
    font-size: 0.9rem;
  }
  @media (max-width: 500px) {
    font-size: 0.85rem;
  }
  @media (max-width: 400px) {
    font-size: 0.8rem;
  }
}

label.form__label {
  color: #FFFF;
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: bold;
  font-family: $fontDemi;
  @media (max-width: 800px) {
    font-size: 0.9rem;
  }
  @media (max-width: 500px) {
    font-size: 0.85rem;
  }
  @media (max-width: 400px) {
    font-size: 0.8rem;
  }
}

.sidebar {
  width: 18vw;
  background-color: #000000;
  position: absolute;
  top: 0;
  bottom: 0;

  ul {
    padding: 20px;
    margin-top: 40px;
    li {
      list-style: none;
      color: $textLightColor;
      margin-bottom: 20px;
      font-family: $textFont;
      font-size: 1rem;
      width: 100%;
      a {
        padding: 5px 15px;
        display: block;
      }
      a:hover {
        background: $primaryButton;
        width: 100%;
      }
    }

    li.activeLink a {
      background-color: #FEFEFE;
      color: #000000;
    }
  }
}

.topbar {
  height: calc(5.5vh);
  width: 82vw;
  margin-left: 18vw;
  border-bottom: 0.7px solid #c3c3c3;
  position: fixed;
  top: 0;
  display: flex;
  padding: 8px 25px;
  .right {
    margin-left: auto;
    p {
      font-size: $textSizeSm;
      padding: 0px;
      margin: 0px;
      font-family: $fontDemi;
      cursor: pointer;
    }
  }
}

.bodywrap {
  margin-top: 5.5vh;
  width: 82vw;
  margin-left: 18vw;
  background: $textLightColor;
  max-height: $bodyWrapHeight;
  overflow-y: scroll;
  padding: 20px 25px;

  .greeting {
    font-size: $textSizeSm;
    font-family: $font;
  }
}

.formErrors {
  color: $textLightError;
  font-size: $textSizeXs;
  margin-bottom: 15px;
  margin-top: -10px;
}

.form_btm_link {
  color: $textLightColor;
  font-size: $textSizeXs;
  margin-top: 15px;
  text-align: center;
  font-family: $fontDemi;
  @media (max-width: 800px) {
    font-size: 0.9rem;
  }
  @media (max-width: 500px) {
    font-size: 0.85rem;
  }
  @media (max-width: 400px) {
    font-size: 0.8rem;
  }
}

.loader-wrap {
  display: flex;
  align-items: center;
  min-height: $bodyWrapHeight;
  justify-content: center;

  .lds-roller {
    display: inline-block;
    position: relative;
    width: 95px;
    height: 95px;
    text-align: center;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: ' ';
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #000000;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
