@import './_fonts';

body {
    font-family: ITC_AVANT;
}

label.form__label {
    color: #FFF;
    margin-bottom: 5px;
    font-size: 0.9rem;
    font-weight: bold;
    font-family: ITC_AVANT_DEMI;
}

input {
    margin-bottom: 20px;
    min-height: 40px;
}

button {
    font-family: ITC_AVANT_DEMI;
}